#debt-container {
    position: fixed;
    margin-top: 100px;
    width: 27%;
}

#debt-card {
    background: #282c2f;
    border-radius: 10px;
}

.card-title {
    color: white;
}

#debt {
    font-size: 3.5em;
    font-weight: 500;
    color: white;
}