#menu-container {
    position: fixed;
    margin-top: 100px;
    width: 85%;
}

#home-icon {
    width: 35px;
    height: 35px;
    margin-bottom: 15px;
}

.list-group-item {
    background: transparent;
    border-color: transparent;
    color: white;
    border-radius: 0px;
    font-family: 'Lato', sans-serif;
    font-size: 2vw;
    padding-bottom: 0%;
}

.list-group-item.active {
    background: transparent;
    border-bottom-color: transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    text-decoration: underline;
    text-decoration-color: #86C232;
}

.list-group-item:hover {
    background: #474B4F;
    color: white;
}