:root{
  --clr-1: #222629;
  --clr-2: #474B4F;
  --clr-3: #6B6E70;
  --clr-4: #61892F;
  --clr-5: #86C232;

}
#messageboard{
  background-color: var(--clr-1);
}

.msg-card{
  background-color: var(--clr-2);
  box-sizing: border-box;
  margin: 3em;
}

.msg-img-cover{
  max-height: 140px;
  overflow: hidden;
}

.msgcardbody{
  color: azure;
  background-color: var(--clr-3);
}

#postrow {
  position:fixed;
  top: 0;
  z-index: 100;
  margin-left: 5em;
  height:100pt;
}

#cards-container{
  margin: 3em;
}

#posttextbox{
  height: 80pt;
  color:rgb(179, 179, 179); 
  border-style: none;
  background-color: #474B4F;
}

.btn-post{
  margin: 5pt;
  height: 30%;

}

#postbox{
}

#btn-add{
  width: 46%;
  margin: 1pt;
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;
}

#todobox,#btn-addtodo{
  width: 100%;
  margin: 0.5pt;
  display:block;
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;
}
#todobox{
  /*Appearance*/
  background-color: var(--clr-2);
  border-style: none;
  color: rgb(165, 179, 179);


  /*Positioning*/  
  height:90%;
}

#box-donetodo{
  /*Appearance*/
  background-color: var(--clr-2);
  border-style:none;

  /*Positioning*/
  resize: none;
  width: 100%;
  height: 88px;
  margin-left: 1em;
  margin-right:1em;
  margin-top: 0.2em;
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;
}


#btn-submit{
  size: 100%;
  margin-top: 50%;
}

#moneybox{
  /* Appearance */
  border-radius: 5% 5% 5% 5%;
  border-style: none;


  /* Positioning */
  width: 90%;
  height: 3em;
  margin: 3pt;
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;
}

#btn-msg:hover, #btn-paymnt:hover{
  transition-duration: 500ms;
  background-color: var(--clr-5);
}
#btn-todo:hover{
  transition-duration: 500ms;
  background-color: var(--clr-5);
}
#btn-paymnt:hover{
  background-color: var(--clr-5);
}

.msg-card{
  width: 85%;
}