:root{
  --clr-1: #222629;
  --clr-2: #474B4F;
  --clr-3: #6B6E70;
  --clr-4: #61892F;
  --clr-5: #86C232;

  --clr-6: #1f2325;
  --clr-7: rgb(57, 60, 63);



}
#messageboard{
  background-color: var(--clr-1);
  margin-top: 40px;
  padding:0;
  border-left: solid;
  border-right: solid;
  border-color: var(--clr-7);
  border-width: 1px;
}

.msg-card{
  box-sizing: border-box;
  margin: 1em;
  margin-left: 3em;
  

  border-radius: 30px;
  border-color: var(--clr-4);
  background-color: var(--clr-1);
}

.msg-img#paymntImg{
  margin-top: -55%;
}

.msg-img#todoImg{
  margin-top: -35%;
}

.msg-img#msgImg{
  margin-top: -30%;
}

.msg-img-cover{
  max-height: 70px;
  overflow: hidden;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

}

.msgcardbody{
  color: azure;
  background-color: var(--clr-1);
  border-radius: 30px;

}

#postrow {
  margin: 0 auto;
  height:180px;
}

#cards-container{
  margin: 0 auto;
}

#posttextbox{
  height: 80pt;
  color:rgb(179, 179, 179); 
  border-style: none;
  background-color: #474B4F;
}

.btn-post{
  margin: 5pt;
  height: 30%;
  max-height: 40px;

}

#postbox{
  width: 200px;
  margin-bottom: 2px;
}

#btn-add{
  width: 46%;
  margin: 1pt;
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;
}

#todobox,#btn-addtodo{
  width: 100%;
  margin: 0.5pt;
  display:block;
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;
}
#todobox{
  /*Appearance*/
  background-color: var(--clr-2);
  border-style: none;
  color: rgb(165, 179, 179);


  /*Positioning*/  
  height:90%;
}

.linea-todo{
  border:0;
  margin:0;
  width:100%;
  height:1px;

  border-top: dashed 1px;
}
.p-todo{
  margin-top: 3px;
  margin-bottom: 3px;
}

#box-donetodo{
  /*Appearance*/
  background-color: var(--clr-6);
  border-style:none;

  /*Positioning*/
  resize: none;
  width: 100%;
  height: 88px;
  margin-left: 1em;
  margin-right:1em;
  margin-top: 0.2em;
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;
}


#btn-submit{
  size: 100%;
  margin-top: 50%;
}

#div-submit{
  padding: 0;
}

#postcolumn{
  padding:0;
  margin:0;
}

#moneybox{
  /* Appearance */
  border-radius: 5% 5% 5% 5%;
  border-style: none;


  /* Positioning */
  width: 90%;
  height: 3em;
  margin: 3pt;
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;
}

#btn-msg:hover, #btn-paymnt:hover{
  transition-duration: 500ms;
  background-color: var(--clr-5);
}
#btn-todo:hover{
  transition-duration: 500ms;
  background-color: var(--clr-5);
}
#btn-paymnt:hover{
  background-color: var(--clr-5);
}

#payment-btncolumn{
  padding: 0;
  margin:1em;
}

.no-padding{
  padding:0;
}

.msg-card{
  width: 85%;
}