:root{
  --clr-1: rgb(0, 26, 37);
  --clr-2: rgb(0, 37, 53);
  --clr-3: rgb(1, 77, 139);
}
#messageboard{
  background-color: var(--clr-1);
}

#msgcard{
  background-color: var(--clr-2);
}

#msgcardbody{
  color: azure;
  background-color: var(--clr-3);
}

#postrow {
  margin: 15px;
  height:100pt;;
}

#posttextbox{
  height: 80pt;
}

.btn-post{
  margin: 5pt;
  height: 30%;

}

#btn-add{
  width: 46%;
  margin: 1pt;
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;
}

#todobox,#btn-addtodo{
  width: 100%;
  margin: 0.5pt;
  display:block;
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;
}
#todobox{
  /*Appearance*/
  background-color: var(--clr-3);
  border-style: none;
  color: rgb(165, 179, 179);
  


  /*Positioning*/  
  height:90%;
}

#box-donetodo{
  /*Appearance*/
  background-color: var(--clr-2);
  border-style:none;

  /*Positioning*/
  resize: none;
  width: 100%;
  height: 100%;
  margin-left: 1em;
  margin-right:1em;
  margin-top: 0.5em;
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;
}


#btn-submit{
  size: 100%;
  margin-top: 50%;
}

#moneybox{
  /* Appearance */
  border-radius: 5% 5% 5% 5%;
  border-style: none;


  /* Positioning */
  width: 90%;
  height: 3em;
  margin: 3pt;
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;
}

#btn-msg:hover{
  background-color: rgb(4, 10, 41)
}
#btn-todo:hover{
  background-color: rgb(0, 15, 0)
}
#btn-paymnt:hover{
  background-color: rgb(22, 1, 1)
}

.msg-card{
  width: 85%;
}