body {
    background: #222629;
}

#form-container {
    margin-top: 13%;
    width: 50%;
    text-align: center;
}

#login-form-title {
    color: white;
    margin-bottom: 2%;
}

#login-form-title-2 {
    font-size: 6vw;
    font-weight: 500;
}

#login-form-logo {
    height: 6vw;
    width: 6vw;
}

.col-form-label {
    text-align: left;
    color: white;
    font-size: 1.6vw;
}

.form-control {
    height: 90%;
    font-size: 1.4vw;
}

#login-button {
    height: 3.5vw;
    width: 6vw;
    font-size: 1.5vw;
}