<!DOCTYPE html>
<html lang="en">

<head>
    <!--Required meta tags-->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!--Meta for SEO optimization-->
    <meta name="description" content="App for Roommates">
    <meta name="keywords" content="Roommates, House, Apartment, Bills, App">
    <meta name="author" content="Sergio Naranjo Puentes">
    <meta name="author" content="Gregorio Ospina Arango">
    <meta name="title" content="Roomies: The Coolest App for Roomates">

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <!--Favicon-->
    <link rel="shortcut icon" type="image/png" href="../images/logo.png" />
    <!--CSS-->
    <link rel="stylesheet" href="../styles/index.css">

    <title>Roomies | The Coolest App for Roommates</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-fixed-top" id="menubar">
            <a class="navbar-brand" href="#">
                <img src="../images/logo.png" class="d-inline-block align-top" alt="" id="logo">
                Roomies
            </a>
            <div class="navbar-text">
                <a class="btn btn-success" id="btn-signin">Sign In</a>
                <a class="btn btn-success" id="btn-signin">Login</a>
            </div>
        </nav>
    </header>

    <main>
        <div class="container-fluid" id="homecontainer">
            <div class="row">
                <div class="col-3">
                    <h1>Aqui va el menú</h1>
                </div>
                <div class="col-6" id="messageboard">
                    <h1>Aqui va el message Board</h1>
                </div>
                <div class="col-3">
                    <h1>Aqui va otra cosa</h1>
                </div>
            </div>
        </div>
    </main>
</body>

</html>